############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# macOS
.DS_Store

# Carbon
src/content/
source/
cache/
phpdoc/
logs/
.vagrant
Configuration.php
vendor/
*.log
*.phar
.idea/
