*.log
*.phar
.DS_Store
.env
.idea/
.phpcs-cache
.phpdox/
.phpintel/
Configuration.php
Desktop.ini
Thumbs.db
data/_cache/
data/_logs/
Configuration.php
content/
Desktop.ini
node_modules/
src/content/
src/info.php
Thumbs.db
vendor/
/content/
