:80

root /srv/app/src
gzip
fastcgi / 127.0.0.1:9000 php
rewrite {
    regexp .*
    ext /
    to /index.php{uri}?{query}
}

log _logs/access.log
errors _logs/errors.log
on startup php-fpm --nodaemonize
