<?php

if (!defined('BASE_DIR')) {
    exit('No direct script access allowed');
}

class Configuration extends Cuttlefish\Defaults
{
    public const SITE_TITLE = 'Your site';
    public const SITE_MOTTO = 'Example theme of Cuttlefish.';
    public const CACHE_ENABLED = false;
}
