<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="public/index.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./public</directory>
        </whitelist>
    </filter>
</phpunit>